{
  "root": true,
  "extends": ["prettier", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist/", "node_modules/"],
  "overrides": [
    {
      "files": ["src/**/*.ts", "tests/**/*.ts"]
    }
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
